<form action="" method="POST">
    <input type="hidden" name="p" value="addGroup">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="name">Nazwa grupy</label>
        </div>
        <input type="text" class="form-control" id="name" name="name" autocomplete="off">
    </div>
    <button class="btn btn-light">Dodaj</button>
</form>