<h3>Dodajesz: {{ product.features.producer }} {{ product.features.name }} ({{ product.ean }})</h3>
<form action="">
    <input type="hidden" name="p" value="addProduct">
    <input type="hidden" name="ean" value="{{ product.ean }}">
    <div class="row label-input-group">
        <label for="qty" class="col-sm-12 col-md-6">Liczba sztuk</label>
        <input type="number" min="1" name="qty" id="qty" value="1" class="col-sm-12 col-md-6">
    </div>
    <div class="row label-input-group">
        <label for="expiration_date" class="col-sm-12 col-md-6">Data ważności</label>
        <input type="date" name="expiration_date" id="expiration_date" class="col-sm-12 col-md-6">
    </div>
    <div class="row label-input-group">
        <label for="cost" class="col-sm-12 col-md-6">Koszt jednostkowy</label>
        <input type="text" name="cost" id="cost" class="col-sm-12 col-md-6" autocomplete="off">
    </div>
    <div class="row">
        <button class="col-sm-12 col-md-6 next-step">Dodaj</button>
    </div>
</form>