<form action="">
    <input type="hidden" name="p" value="addProduct">
    <input type="text" name="ean" placeholder="EAN" autocomplete="off" title="Cyfrowa reprezentacja kodu kreskowego na produkcie">
    <button>Dalej</button>
</form>