<form action="">
    <input type="hidden" name="p" value="addProduct">
    <div class="row">
        <input type="text" name="ean" placeholder="EAN" autocomplete="off" title="Cyfrowa reprezentacja kodu kreskowego na produkcie" class="col-sm-12 col-md-6 insert-ean">
    </div>
    <div class="row">
        <button class="col-sm-12 col-md-6 next-step">Dalej</button>
    </div>
</form>
<script>
    document.querySelector('input[type=text]').focus();
</script>