{% for error in errors %}
    <div class="row">
        <p class="alert alert-danger">{{ error }}</p>
    </div>
{% endfor %}
{% for warning in warnings %}
    <div class="row">
        <p class="alert alert-warning">{{ warning }}</p>
    </div>
{% endfor %}
<div class="row option">
    <a href="?p=products" class="col-sm-12">Zobacz listę produktów</a>
</div>
<div class="row option">
    <a href="?p=addProduct" class="col-sm-12">Dodaj produkt</a>
</div>
<div class="row option">
    <a href="?p=removeProduct" class="col-sm-12">Zdejmij produkt</a>
</div>