{% for error in errors %}
    <p style="background-color: red; color: #eee">{{ error }}</p>
{% endfor %}
{% for warning in warnings %}
    <p style="background-color: orange; color: #eee">{{ warning }}</p>
{% endfor %}
<a href="?p=products">Zobacz listę produktów</a>
<a href="?p=addProduct">Dodaj produkt</a>
<a href="?p=removeProduct">Zdejmij produkt</a>